
#homepage .containerx {

  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

  
  height: 85vh;
}
#homepage .container1 {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  
  height: 85vh;
}
#homepage .container2 {
  background: linear-gradient(90deg, rgba(158,67,218,1) 0%, rgba(240,194,194,1) 56%, rgba(252,176,69,1) 100%);
   
  height: 85vh;
}

#homepage .homepageContent {
  display: flex;
  /* padding: 80px; */
}

#homepage .headingH1  {
  color: white;
  font-weight: 600;
}
#homepage  h3{
    color: white;
  }
  
  #homepage .artistDiv {
  width: 95%!important;
  height: 225px;
  position: relative;
  display: flex !important;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);

  font-weight: 400;
  
}
#homepage .regionDiv {
  width: 30%!important;
  height: 225px;
  position: relative;
  display: flex !important;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
margin-left: 50px;
  font-weight: 400;
  
}

#homepage .regionDivMain{

  display: flex;
}






#homepage .slick-slider {

  width: 90vw;
  margin-left: 50px;
}


#homepage .slick-prev:before, .slick-next:before {

color: black !important;
font-size: 40px !important;

}
#homepage .slick-prev {
  left: -50px !important;
}

#homepage .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
opacity: 0 !important;
}


#homepage .imageSize{
  width: auto;
  border-radius: 10px;
  height: 200px;
  padding: 5px;
  opacity: .7;
}

#homepage .imageSize:hover {
 
  opacity: 1;
}

#homepage  .paraRel{
/* background-color: #bdc3c7; */
color: black;
}


